body{
  background-image: url("assets/silverware.jpg");
  background-repeat: repeat;
  background-color: white;
}

ul.pie-slice{
  list-style-image: url('assets/pie_icon.gif');
}

h1, h2{
  color: #A4A400;
  background: #F0F0F0;
  font-family: Helvetica;
  letter-spacing: .25em;
  display: inline;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  font-size: 22px;
  text-align: center;
  margin-left: 30vw;
  margin-right: 30vw;
}

h2{
  font-size: 18px;
  text-align: left;
}

p, li{
  color: #404040;
  font-size: 11px;
  font-family: Georgia;
}

a{
  color: #A4A400;
}

.comments{
  background-color: #FFFFA8;
  display: inline-block;
}

#comment-section{
  text-align: center
  padding: 5px;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgb(0,0,0,.5);
  color: white;
  text-align: center;
  padding: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover ~ .tooltiptext {
  visibility: visible;
}

#validate{
  float: left;
}

.sections:not(:last-child){
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
